@model ProjetMedicament.Models.Metier.Resultat;

@{
    ViewBag.Title = "Modifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modifier un médicament</h2>

@if (Model != null)
{
    using (Html.BeginForm("Modifier", "Medicament", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card col-8 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Modifier un Medicament</h3>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!-- Id Medicament -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="id-medicament-input">Id Medicament : </span>
                        </div>
                        @Html.EditorFor(model => model.Id_medicament, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                        @Html.ValidationMessageFor(model => model.Id_medicament, "", new { @class = "text-danger" })
                        <input name="Id_medicament" type="hidden" value=@Model.Id_medicament id="Id_medicament" class="form-control" aria-describedby="id-medicament-input" />
                    </div>

                    <!-- Id Famille -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="id-famille-input">Id Famille : </span>
                        </div>
                        @Html.EditorFor(model => model.Id_famille, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                        @Html.ValidationMessageFor(model => model.Id_famille, "", new { @class = "text-danger" })
                        <input name="Id_famille" type="hidden" value=@Model.Id_famille id="Id_famille" class="form-control" aria-describedby="id-famille-input" />
                    </div>
                    <!-- Quantite Dosage -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="qte-dosage-input">Quantite Dosage :</span>
                        </div>
                        <input name="Qte_dosage" type="text" class="form-control" value=@Model.Qte_dosage id="Qte_dosage" />
                    </div>
                    <!-- Unite Dosage -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="unite-dosage-input">Unite Dosage :</span>
                        </div>
                        <input name="Unite_dosage" type="text" class="form-control" value=@Model.Unite_dosage id="Unite_dosage" />
                    </div>
                    <!-- Posologie -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="posologie-input">Posologie :</span>
                        </div>
                        <input name="Posologie" type="text" class="form-control" value=@Model.Posologie id="Posologie" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
}
